/אחרים
/runtime
/db
/local_models
/hf_cache
/otzariaAI-website

# Python cache
__pycache__/
*.py[cod]
__pycache__\app_ai.cpython-312.pyc

# Build outputs
/build/
/dist/
/*.zip
/*.tar.gz

# Virtual environments
.venv/
venv/

# IDE / OS noise
.DS_Store
Thumbs.db
